/application/__pycache__
/application/__pycache__/*
/application/bin
/application/bin/*
/application/classes/__pycache__
/application/classes/__pycache__/*
/application/config
/application/config/*
/application/build
/application/build/*
/application/logs
/application/logs/*
/application/KIM Interface Manager.spec
/application/KIM_Interface.py
/application/results.txt